$color-zard: #9fc7e0;
$color-kerem: #ffffffc0;
$color-blue: rgb(228, 248, 98);
$color-dark: #1c334e;
$sormei: #1c334e;
$sidebar: #1c334e;
$side-titr: #112134;
$main: #E8F2FC;
$green-dark:#00695C;
$green-dark-hover:#008677;
$green-light:#04b19d;

$light-font:#5E6C84;
$lightBgAll:#F3F1EF ;


$bg404:#F4F5E2;

// $sidebar: #272727;
// $side-titr: #494949;

// $sidebar: #413f62;
// $side-titr: #2f2e47;
